<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Flight Search</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

<!--
    <h1>Flight Search</h1>
   <div class="login">
        <form action="{{url_for('predict')}}" method="post">
            <label for="departure">Departure Airport: LAX</label>
            <br>
            <label for="destination">Destination Airport:</label>
            <select id="destination" name="destination" required>
                    <option value="HNL">Inouye International Airport, Honolulu</option>
                    <option value="DEN">Denver International Airport, Colorado</option>
                    <option value="DFW">Dallas/Fort Worth International Airport, Texas</option>
                    <option value="SFO">San Francisco International Airport, SF</option>
                    <option value="JFK">John F. Kennedy International Airport, New York</option>
                    <option value="ATL">Hartsfield–Jackson Atlanta International Airport, Atlanta</option>
                    <option value="CHI">O'Hare International Airport, Chicago</option>
            </select><br> 
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required><br><br>
            <input type="submit">
        </form>
    </div> 
-->
    <div class="login">
        <h2>Price Prediction</h2>
            <p>Introduce duration and stops:</p>
       <!-- Inputs for our ML model -->
                <form action="{{ url_for('predict')}}" method="post" class = "info">
                    <input type="text" name="duration" placeholder="Duration" required="required" />
                    <input type="text" name="stops" placeholder="Stops" required="required"/>
                    <button type="submit" class="btn btn-primary btn-block btn-large">Submit</button>
                </form>
  
            <br>
            <br>
        <b> {{ prediction_text }} </b>
   </div>

</body>
</html>